.todo-list-container {
  position: relative;
  top: 50px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px rgba(245, 245, 245, 0.1);
  color: #fff;
  overflow-wrap: break-word;
  word-break: break-word;
}

@media (max-width: 500px) {
  .todo-list-container {
    right: 1%; 
  }
}

.todo-list-container h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 300;
}

.todo-input-container {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.todo-input {
  flex: 1;
  padding: 12px 16px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.todo-input:focus {
  border-color: #4caf50;
}

.add-button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #45a049;
}

.add-button:active {
  transform: translateY(1px);
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 10px 0px;
}

.todo-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  background-color: rgb(54, 54, 54);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.todo-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.todo-text {
  flex: 1;
  cursor: pointer;
  padding: 8px 0;
  font-size: 16px;
  transition: all 0.3s ease;
}

.delete-button {
  padding: 8px 14px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #cc0000;
  transform: scale(1.2);
}

.delete-button:active {
  transform: translateY(1px);
}

.todo-list:empty::before {
  content: "Список пуст!";
  display: block;
  text-align: center;
  color: #888;
  font-style: italic;
  padding: 10px;
}

@media (max-width: 768px) {
  .todo-list-container {
    margin: 10px;
    padding: 15px;
  }

  .todo-input-container {
    flex-direction: column;
  }

  .add-button {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-150%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.todo-item {
  animation: fadeIn 0.8s ease-out;
}