.ant-menu-horizontal {
     background-color: rgb(63, 63, 63);
     border-radius: 10px !important;
     overflow: hidden;
     text-align: center;
     align-items: center;
}

@media (max-width: 870px) {
     .ant-menu-horizontal {
          line-height: 33px;
     }
}

.ant-menu-item {
     text-align: center;
     background-color: rgb(63, 63, 63) !important;
}


.ant-menu-item:hover {
     text-align: center;
     background-color: rgb(53, 53, 53) !important;
}

.ant-menu-item-selected {
     background-color: rgb(37, 37, 37) !important;
}

.ant-menu-submenu-selected {
     background-color: rgb(37, 37, 37) !important;
}

.ant-menu-submenu-popup {
     opacity: 0.9;
}

.ant-menu-vertical {
     background-color: rgb(63, 63, 63) !important;
}