.card-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%; 
  justify-content: center;
  position: relative;
  top: 80px;
  column-gap: 3%;
  row-gap: 40px;
  width: 90%;
  left: 6%;
  box-shadow: 1px 1px 20px 1px rgba(245, 245, 245, 0.1);
  padding: 50px 0px;
  border-radius: 10px;
}

.card {
  position: relative;
  width: 100%;
  height: 100px; 
  color: white;
  perspective: 1000px;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform-style: preserve-3d;
}

.card:hover .card__inner {
  transform: rotateY(540deg) scale(1.15);
}

.card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(68, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'BlackOps';
}

.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 182, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform: rotateY(180deg); 
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'BlackOps';
}