.cards {
  display: grid;
  grid-template-columns: minmax(100px, 20%) minmax(100px, 20%) minmax(100px, 20%) minmax(100px, 20%);
  justify-content: center;
  position: relative;
  padding: 50px 0px;
  bottom: 50px;
  column-gap: 10px;
  row-gap: 10px;
  width: 90%;
  left: 6%;
  box-shadow: 1px 1px 20px 1px rgba(245, 245, 245, 0.1);
  border-radius: 10px;
}


.card {
  position: relative;
  height: 100px;
  color: white;
  perspective: 1000px;
  border-radius: 10px;
  transform-style: preserve-3d;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform-style: preserve-3d;
  border-radius: inherit;
}

.card:hover .card__inner {
  transform: rotateY(540deg);
}

.card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(68, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  font-size: 24px;
  font-weight: bold;
  font-family: 'BlackOps';
  border-radius: inherit;
  overflow: hidden;
  word-break: break-all;
}

.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 182, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  font-size: 24px;
  font-weight: bold;
  font-family: 'BlackOps';
  border-radius: inherit;
  overflow: hidden;
}

@media (max-width: 920px) {
  .cards {
    grid-template-columns: minmax(100px, 30%) minmax(100px, 30%) minmax(100px, 30%);
  }
}

@media (max-width: 870px) {
  .cards {
    left: 4%;
    top: 80px;
  }

  .card {
    height: 50px;
  }

  .card__front {
    font-size: 15px;
  }

  .card__back {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: minmax(100px, 20%) minmax(100px, 20%);
  }
}