.header {
    display: flex;
    justify-content: space-between;
}

.header span {
    color: #fff;
    animation: gentleGlow 4s ease-in-out infinite;
}

@keyframes gentleGlow {
    0%, 100% {
        text-shadow: 
            0 0 0px #fff,
            0 0 0px #fff,
            0 0 0px #fff,
            0 0 0px #0ff,
            0 0 0px #0ff,
            0 0 0px #0ff;
        opacity: 0.3;
    }
    50% {
        text-shadow: 
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px #0ff,
            0 0 35px #0ff,
            0 0 40px #0ff;
        opacity: 1;
    }
}

.header-nav {
    display: flex;
    gap: 5px;
}

.header-nav button {
    display: block;
    font-family: 'Wild';
}

.popup-container {
    position: relative;
    display: inline-block;
}

.popup {
  position: absolute;
  top: 6%;
  right: 135px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px 5px;
  z-index: 1000;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


