.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.header span {
    color: #fff;
    animation: gentleGlow 4s ease-in-out infinite;
    font-family: "Menyaka";
}

@media (max-width: 900px) {
    .header span {
        margin-left: 9%;
    }
}

@keyframes gentleGlow {

    0%,
    100% {
        text-shadow:
            0 0 0px #fff,
            0 0 0px #fff,
            0 0 0px #fff,
            0 0 0px #0ff,
            0 0 0px #0ff,
            0 0 0px #0ff;
        opacity: 0.3;
    }

    50% {
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px #0ff,
            0 0 35px #0ff,
            0 0 40px #0ff;
        opacity: 1;
    }
}