.footer-contact {
    display: flex;
    gap: 10px;
}

.footer-contact-icon {
    font-size: 30px;
}

.footer-contact-icon-telegram {
    width: 30px;
}

@media (max-width: 500px) {
    .footer-contact-icon {
        font-size: 23px;
    }

    .footer-contact-icon-telegram {
        width: 23px;
    }
}