.welcome {
  height: 390px;
  left: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid white;
}

.welcome-home {
  border-bottom: 0px;
}

.welcome-frontend {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 10px;
  background: #333;
  color: white;
  padding: 20px 10px;
  opacity: 96%;
}

@media (max-width: 870px) {
  .welcome-frontend {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
  }

  .welcome {
    display: flex;
    justify-content: space-between;
  }
}

.welcome span {
  font-size: clamp(20px, 4vw, 3em);
  font-weight: 900;
  color: transparent;
  background: linear-gradient(45deg, #414141, #ffffff, #414141);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 15px;
}

.welcome-container {
  height: 390px;
  padding-right: 5%;
  padding-left: 5%;
}

.welcome-img {
  height: 390px;
}

.welcome-img-home {
  height: 600px;
  mask-image: radial-gradient(
    circle at center,
    black 40%,
    transparent 100%
  );
}

@media (max-width: 870px) {
  .welcome-img-home {
    height: 100%;
  }
}

.welcome-container-text {
  position: relative;
  margin-left: -26%;
}

@media (max-width: 500px) {
  .welcome-container-text {
    margin-left: 10px;
  }
}

.welcome-container-text h1 {
  position: relative;
  margin: 0%;
  font-size: clamp(2rem, 4vw, 2rem);
  bottom: 78px;
}

.welcome-container-text h2 {
  position: relative;
  margin: 0%;
  font-size: clamp(3rem, 6vw, 3rem);
  bottom: 110px;
}