@font-face {
  font-family: 'Wild';
  src: url('./assets/fonts/Menyaka.ttf') format('truetype');
}
@font-face {
  font-family: 'BlackOps';
  src: url('./assets/fonts/BlackOpsOne.ttf') format('truetype');
}
.app {
    display: flex;
    flex-direction: column;
}

.app-content {   
    position: absolute;
    top: 356px;
    width: 98%;
    height: 100%;
}

.app-footer {
  position: fixed;
  bottom: 2%;
  right: 2%;
  display: flex;
}
