@font-face {
  font-family: 'Wild';
  src: url('./assets/fonts/Menyaka.ttf') format('truetype');
}
.container {
    display: flex;
    flex-direction: column;
}

.container-content {
    position: absolute;
    top: 356px;
    width: 98%;
    height: 100%;
}